{% extends 'base.html.twig' %}

{% block title %}Déconnexion{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Déconnexion</h1>
    <p>Cliquez sur le bouton ci-dessous pour vous déconnecter :</p>
    
    <a href="{{ path('logout') }}" class="btn btn-danger" data-turbo="false">Se déconnecter</a>
    
    <p class="mt-3">
        <a href="{{ path('admin') }}">Retour à l'administration</a>
    </p>
</div>
{% endblock %}
